{
  // Specify the environments where the code will run
  "env": {
    "jest": true,       // Enable Jest for testing
    "browser": true     // Enable browser environment
  },

  // Stop ESLint from searching for configuration in parent folders
  "root": true,

  // Specify the parser for TypeScript (using @typescript-eslint/parser)
  "parser": "@typescript-eslint/parser", // Leverages TS ESTree to lint TypeScript

  // Add additional rules and configuration options
  "plugins": ["@typescript-eslint", "prettier",
    "react-hooks", 
    "react",
    "import"],

  // Extend various ESLint configurations and plugins
  "extends": [
    "eslint:recommended",                   // ESLint recommended rules
    "plugin:react/recommended",             // React recommended rules
    "plugin:react/jsx-runtime",             // to fix React import issue: https://github.com/jsx-eslint/eslint-plugin-react/blob/master/docs/rules/react-in-jsx-scope.md
    "plugin:@typescript-eslint/recommended", // TypeScript recommended rules
    "plugin:@typescript-eslint/eslint-recommended", // ESLint overrides for TypeScript
    "plugin:prettier/recommended",          // Prettier plugin integration

    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:react-hooks/recommended",       // Recommended rules for React hooks
    // "plugin:storybook/recommended"          // Recommended rules for Storybook
    "prettier"                             // Prettier rules
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": true,
      "node": true
    }
  }
}